/* @import '~quasar/dist/quasar.css'; */

$primary: #2fb6ff;
$secondary: #266ba4;
$accent: #3EC483;

$dark: #1280da;
$dark-page: #9fbed6;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@import '~quasar/src/css/index.sass';
